* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    color: #fff;
    margin-bottom: 20px;
}
body {
    background-color: #1d2d3c;
}
p, span  {
    color: #707e8b;
}
.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: calc(1200px / 5 - 20px);
    margin: 10px;
    background-color: #2e3a46;
    text-align: center;
    padding: 10px;
}
.poster-album {
    width: 180px;
}